{% extends "base.html.twig" %}

{% block title %}Formulaire Catégories{% endblock %}


{% block body %}
    {{ form_start(formCate) }}
        {{ form_row(formCate.name, {"label":"Nom",'attr': {placeholder:"Entrer le nom de la catégorie"} }) }}
        {{ form_row(formCate.description, {"label":"Description",'attr': {placeholder:"Entrer la description de la catégorie"} }) }}
        {# {{ form_row(formCate.subCategory, {"label":"Sous Categorie",'attr': {placeholder:"Entrer la description de la catégorie"} }) }} #}
    
    {% if mode %}
        <button type="submit" class="buy-now">Modifier la catégorie</button>
    {% else %}
        <button type="submit" class="buy-now" >Créer une nouvelle catégorie</button>

    {% endif %}
    
    {{ form_end(formCate) }}   
    <a href="{{path('cate')}}" type="submit" class="buy-now">Retour</a>

{% endblock %}