{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<h1>Produits</h1>


<a class="buy-now" href="{{path('new_prod')}}">Créer</a>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Nom</th>
                    <th class="text-center" scope="col">Photo</th>
                </tr>
            </thead>
            <tbody>
                    {% for prod in products %}
                        <tr>
                            <td class="text-center" scope="col">{{prod.name}}</td>
                            <td> <img class="photoBijoux" src="{{asset("uploads/" ~ prod.photo)}}" alt="bijoux"></img></td>
                            <td><a class="buy-now" href="{{path('update_prod', {'id':prod.id} )}}">Modifier</a></td>
                            <td><a class="buy-now" href="{{path('delete_prod', {'id':prod.id} ) }}">Supprimer</a></td> 
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

