{# VERSION BLOC #}

{% extends 'base.html.twig' %}

{% block title %}COLLIERS{% endblock %}

{% block body %}
<h1>COLLIERS</h1>


    <div class="container">
       <section class="product-list">
                    {% for neck in necklace %}
                    <div class="card">
                        {# <div class="image"> <img src="https://i.etsystatic.com/34806363/r/il/9008d3/3879418349/il_1588xN.3879418349_omhf.jpg" alt="boucle d'oreille"> </div> #}
                        <div class="image"><img  src="{{asset("uploads/" ~ neck.photo)}}"  alt="bijoux"></img></div>
                        <div class="title">{{neck.name}}</div>
                        <div class="text">{{neck.unitprice}}</div>
                        <a class="buy-now" href="#">Ajouter au panier</a>
                        <a class="buy-now" href="{{path('necklace', {'id': neck.id} )}}">Voir produit</a>

                    </div>
                    {% endfor %}
        </section>
    </div>
{% endblock %}



{# VERSION TABLEAU #}
{# {% extends 'base.html.twig' %}

{% block title %}COLLIERS{% endblock %}

{% block body %}
<h1>COLLIERS</h1>

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Nom</th>
                    <th class="text-center" scope="col">Description</th>
                    <th class="text-center" scope="col">Quantité</th>
                    <th class="text-center" scope="col">Prix unitaire</th>
                </tr>
            </thead>
            <tbody>
                    {% for neck in necklace %}
                        <tr>
                            <td class="text-center" scope="col">{{neck.name}}</td>
                            <td class="text-center" scope="col">{{neck.description}}</td>
                            <td class="text-center" scope="col">{{neck.quantity}}</td>
                            <td class="text-center" scope="col">{{neck.unitprice}}</td> 
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %} #}