{# VERSION BLOC #}
{% extends 'base.html.twig' %}

{% block title %}BOUCLES D'OREILLES{% endblock %}

{% block body %}
<h1>BOUCLES D'OREILLES</h1>

    <div class="container">
       <section class="product-list">
                    {% for bou in earing %}
                    <div class="card">
                        <div class="image"> <img src="https://i.etsystatic.com/34806363/r/il/9008d3/3879418349/il_1588xN.3879418349_omhf.jpg" alt="boucle d'oreille"> </div>
                        <div class="title">{{bou.name}}</div>
                        <div class="text">{{bou.unitprice}}</div>
                        <a class="buy-now" href="#">Ajouter au panier</a>
                        <a class="buy-now" href="{{path('earing', {'id': bou.id} )}}">Voir produit</a>
                    </div>
                    {% endfor %}
        </section>
    </div>
{% endblock %}




{# VERSION TABLEAU #}
{# {% extends 'base.html.twig' %}

{% block title %}BOUCLES D'OREILLES{% endblock %}

{% block body %}
<h1>BOUCLES D'OREILLES</h1>

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Nom</th>
                    <th class="text-center" scope="col">Description</th>
                    <th class="text-center" scope="col">Quantité</th>
                    <th class="text-center" scope="col">Prix unitaire</th>
                </tr>
            </thead>
            <tbody>
                    {% for bou in earing %}
                        <tr>
                            <td class="text-center" scope="col">{{bou.name}}</td>
                            <td class="text-center" scope="col">{{bou.description}}</td>
                            <td class="text-center" scope="col">{{bou.quantity}}</td>
                            <td class="text-center" scope="col">{{bou.unitprice}}</td> 
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %} #}