{# VERSION TABLEAU #}
{% extends 'base.html.twig' %}

{% block title %}{{earing.name}}{% endblock %}

{% block body %}
{# <h1>{{earing.name}}</h1> #}
{# 
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Nom</th>
                    <th class="text-center" scope="col">Description</th>
                    <th class="text-center" scope="col">Quantité</th>
                    <th class="text-center" scope="col">Prix unitaire</th>
                </tr>
            </thead>
            <tbody>
                    
                        <tr>
                            <td class="text-center" scope="col">{{earing.name}}</td>
                            <td class="text-center" scope="col">{{earing.description}}</td>
                            <td class="text-center" scope="col">{{earing.quantity}}</td>
                            <td class="text-center" scope="col">{{earing.unitprice}}</td> 
                        </tr>
                    
            </tbody>
        </table>
    </div>
 #}


<div class="car-wrapper">
    <div class="car">
        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase">
                    <img src="{{ asset('/uploads/' ~ earing.photo) }}" alt="bijoux">
                </div>
            </div>
        </div>
        <div class="product-content">
            <h2 class="product-title">{{earing.name}}</h2>
            
            
            <div class="product-price">
                <p class="new-price"><span>{{earing.unitprice}}€</span></p>
            </div>

             <div class="purchase-info">
                <button type="button" class="btn">Ajouter au panier</button>
            </div>
            

             <div class="product-detail">
                <h2>Description</h2>
                <ul>
                    <li>Article fait main</li></br>
                    <li>{{earing.description}}</li> </br>
                    <li>{{earing.descriptiontwo}}</li></br>
                    <li>{{earing.descriptionthree}}</li></br>
                    <li>{{earing.descriptionfour}}</li></br>
                    <li>{{earing.descriptionfive}}</li></br>
                    <li>{{earing.descriptionsix}}</li></br>
                </ul>
                <h2>Détail</h2>
                <ul>
                    <li>{{earing.material}}</li>
                    <li>{{earing.diameter}}</li>
                    <li>{{earing.weight}}</li>
                    <li>{{earing.gilding}}</li>
                    <li>{{earing.chainLength}}</li>
                </ul>
            </div>

            <div class="social-links">
                <a href="https://www.etsy.com/fr/shop/AtelierPaulineR"></a>
                <a href="https://www.instagram.com/atelier.pauline_bijoux/"></a> 
            </div>

        </div>

    </div>
</div>

{% endblock %}