{# VERSION TABLEAU #}
{% extends 'base.html.twig' %}

{% block title %}COLLIERS{% endblock %}

{% block body %}
{# <h1>{{necklace.name}}</h1> #}
{# 
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Nom</th>
                    <th class="text-center" scope="col">Description</th>
                    <th class="text-center" scope="col">Quantité</th>
                    <th class="text-center" scope="col">Prix unitaire</th>
                </tr>
            </thead>
            <tbody>
                    
                    <tr>
                        <td class="text-center" scope="col">{{necklace.name}}</td>
                        <td class="text-center" scope="col">{{necklace.description}}</td>
                        <td class="text-center" scope="col">{{necklace.quantity}}</td>
                        <td class="text-center" scope="col">{{necklace.unitprice}}</td> 
                    </tr>
                    
            </tbody>
        </table>
    </div> #}


<div class="car-wrapper">
    <div class="car">
        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase">
                    <img src="https://bit.ly/3vYFkPn" alt="boucles 1">
                    <img src="https://bit.ly/3vPpgza" alt="boucles 2">
                </div>
            </div>
            
            <div class="img-select">
                <div class="img-item">
                    <a href="#" data-id="1">
                        <img src="https://bit.ly/3vYFkPn" alt="boucles 1">
                    </a>
                </div>
            
                <div class="img-item">
                    <a href="#" data-id="2">
                        <img src="https://bit.ly/3vPpgza" alt="boucles 2">
                    </a>
                </div>
            </div>

        </div>

        <div class="product-content">
            <h2 class="product-title">{{necklace.name}}</h2>
            
            
            <div class="product-price">
                <!-- <p class="last-price">Ancien prix: <span>37€</span></p> -->
                <p class="new-price"><span>{{necklace.unitprice}}€</span></p>
            </div>

             <div class="purchase-info">
                {# <input type="number" min="0" value="1"> #}
                <button type="button" class="btn">Ajouter au panier</button>
                {# <button type="button" class="btn">Compare</button> #}
            </div>
            
            {# <a href="#" class="product-link">Ajouter au panier</a> #}
            
            <div class="product-detail">
                <h2>Description</h2>
                {# <p>Boucles d'oreilles marbré</p> #}
                <ul>
                    <li>Article fait main</li>
                    <li>{{necklace.description}}</li>
                </ul>
                <h2>Détail</h2>
                {# <p>Boucles d'oreilles marbré</p> #}
                <ul>
                    <li>Matériaux: {{necklace.material}}</li>
                    <li>Diamètre: {{necklace.diameter}}</li>
                    <li>Poids: {{necklace.weight}}</li>
                    <li>Dorure: {{necklace.gilding}}</li>
                    <li>Longueur de la chaine: {{necklace.chainLength}}</li>
                </ul>
            </div>

            <div class="social-links">
                <a href="https://www.etsy.com/fr/shop/AtelierPaulineR"></a>
                <a href="https://www.instagram.com/atelier.pauline_bijoux/"></a> 
            </div>

        </div>

    </div>
</div>



{% endblock %}