{% extends 'base.html.twig' %}

{% block title %}{{earing.name}}{% endblock %}

{% block body %}
<div class="car-wrapper">
    <div class="car">
            <h2 class="product-title">{{earing.name}}</h2>
            <div class="product-price">
                <p class="new-price"><span>{{earing.unitprice}}€</span></p>
            </div>
        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase">
                    <img src="{{ asset('/uploads/' ~ earing.photo) }}" alt="bijoux">
                </div>
            </div>
        </div>
        <div class="product-content">
            
            

             <div class="purchase-info">
            </div>
          
             <div class="product-detail">
                <h2>Description</h2>
                <ul>
                    <li>Article fait main</li></br>
                    <li>{{earing.description}}</li> </br>
                    <li>{{earing.descriptiontwo}}</li></br>
                    <li>{{earing.descriptionthree}}</li></br>
                    <li>{{earing.descriptionfour}}</li></br>
                    <li>{{earing.descriptionfive}}</li></br>
                    <li>{{earing.descriptionsix}}</li></br>
                </ul>
                <h2>Détail</h2>
                <ul>
                    <li>{{earing.material}}</li>
                    <li>{{earing.diameter}}</li>
                    <li>{{earing.weight}}</li>
                    <li>{{earing.gilding}}</li>
                    <li>{{earing.chainLength}}</li>
                </ul>
            </div>

            <a class="buy-now-product" href="{{asset('https://www.etsy.com/fr/shop/AtelierPaulineR')}}">Acheter produit</a>

        </div>

    </div>
</div>

{% endblock %}