{% extends "base.html.twig" %}

{% block title %}Descriptions{% endblock %}

{% block body %}

    {{ form_start(formDescription) }}

        {# {{ form_row(formDescription.produit, {'label': 'Nom du produit' , 'attr' : {placeholder:"Entrer le nom du produit"} }) }} #}

        {{ form_row(formDescription.material, {'label': 'Matériel' , 'attr' : {placeholder:"Entrer de la matière"} }) }}
        {{ form_row(formDescription.diameter, {'label': 'Diamètre', 'attr' : {placeholder:"Entrer le diamètre"} } ) }}
        {{ form_row(formDescription.weight, {'label': 'Poids', 'attr' : {placeholder:"Entrer le poids"} } ) }}
        {{ form_row(formDescription.gilding, {'label': 'dorure', 'attr' : {placeholder:"Entrer la dorure"} } ) }}
        {{ form_row(formDescription.chainLength, {'label': 'Longueur de la chaine', 'attr' : {placeholder:"Entrer la longueur de la chaine"} } ) }}



    {% if mode %}
        <button type="submit" class="btn btn-success">Modifier le produit</button>
    {% else %}
        <button type="submit" class="btn btn-success">Créer le produit</button>
    {% endif %}

    {{ form_end(formDescription) }}

    <a href="{{path('prod')}}" type="submit" class="btn btn-primary">Retour</a>

{% endblock %}