<!DOCTYPE html>
<html
	lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{# <!DOCTYPE html>
				<html>
				<head>
				<meta charset="UTF-8"> #}
		<title>
			{% block title %}🌸Atelier Pauline🌸{% endblock %}
		</title>
		<link rel="icon" href="{{asset('uploads/logo.png')}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}


		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/lux/bootstrap.min.css">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="#" href="{{path('home')}}"><img class="logobarre" src="{{asset('uploads/logo.png')}}" alt="logo"></a>
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">

						<li class="nav-item">
							<a class="navtitle" href="{{path('home')}}">ACCUEIL</a>
						</li>


						<li class="nav-item">
							<div class="dropdown">
								
								<span class="navtitle">SHOP</span>
							
								<div class="dropdown-content">
									{% for cates in cate %}
										{{cates.name}}
										{% for nomSubCategorie in SubCate %}											
											<a class="subCategory" href="{{path('all_bracelets')}}">{{nomSubCategorie.name}}</a>
											<a class="subCategory" href="{{path('all_necklaces')}}">{{nomSubCategorie.name}}</a>
											<a class="subCategory" href="{{path('all_earings')}}">{{nomSubCategorie.name}}</a>										
										{% endfor %}
									{% endfor %}
								</div>


								{# <div class="dropdown-content">Pierres Naturelles
									<a class="subCategory" href="{{path('all_necklaces')}}">Colliers</a>
									<a class="subCategory" href="{{path('all_bracelets')}}">Bracelets</a>
									<a class="subCategory" href="{{path('all_earings')}}">Boucles d'Oreilles</a>
								</div> #}

							{# {% for cate in product %}
									<li>{{cate}}</li> #}
								{# {% for item in items %}
									<a class="subCategory" href="{{path('subCategory')}}"></a>
									{% endfor %} #}
								{# {% endfor %} #}

								{# </div> #}
							</div>
						</li>
						<li class="nav-item">
							<div class="dropdown">
								<a class="navtitle" href="#">LA MARQUE</a>
								<div class="dropdown-content">
									<a class="subCategory" href="{{path('savoirfaire')}}">Notre savoir-faire</a>
								</div>
							</div>
						</li>

						<li class="nav-item">
							<div class="dropdown">
								<a class="navtitle" href="#">AIDE</a>
								<div class="dropdown-content">
									<a class="subCategory" href="{{path('contact')}}">Contactez-nous</a>
								</div>
							</div>
						</li>


						{# LISTE DEROULANTE CRUD#}
						{% if is_granted ('ROLE_ADMIN') %}
							<li class="nav-item">
								<div class="dropdown">
									<span class="navtitle">REGLAGES</span>
									<div class="dropdown-content">
										<a class="subCategory" href="{{path('cate')}}">CATEGORIES</a>
										<a class="subCategory" href="{{ path('subCategory') }}">SOUS CATEGORIES</a>
										<a class="subCategory" href="{{path('prod')}}">PRODUITS</a>
										<a class="subCategory" href="{{path('app_user_index')}}">UTILISATEURS</a>
									</div>
								</div>
							</li>
						{% endif %}

						{# CONNEXION DECONNEXION CREER SON COMPTE #}
						<li class="nav-item">
							{% if is_granted ('ROLE_USER') %}
						
								<div class="dropdown">
										<a class="navtitle" href="{{path('app_user_index')}}"> {{app.user.firstname}}</a>
									<div class="dropdown-content">
										<a class="subCategory" href="{{path('utilisateur', {id:app.user.id})}}">UTILISATEUR</a>
										<a class="subCategory" href="{{path('app_logout')}}">DECONNEXION</a>
									</div>
								</div>


						</li>

						{% else %}
							{# <a class="navtitle" href={{path('app_login')}}>CONNEXION </a> #}
							<a class="navtitle" href={{path('app_login')}}>COMPTE</a>
							{# <a class="navtitle" href={{path('app_register')}}>Créer son compte</a>  #}
							{# app_register provient du controller registrationController (route)
														app_login provient du controller securityController (route) 
														app_logout provient du controller securityController(route)#}
						{% endif %}

						{# <li class="nav-item">
												<a class="navtitle" href="#">PANIER</a>
												</li> #}


						{# </div>
												</li> #}
					</ul>
					{# <form class="d-flex">
										<input class="form-control me-sm-2" type="text" placeholder="Search">
										<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
										</form> #}
				</div>
			</div>
		</nav>


		{% block body %}{% endblock %}

		{# <script>
				function toggleForm(){
				section = document.querySelector('section');
				container = document.querySelector('.container');
				section.classList.toggle('active');
				container.classList.toggle('active');
				}
				</script> #}

		<!--===== FOOTER =====-->
		<footer>
			<div>
				<ul class="socials">
					<li>
						<a href="https://bit.ly/3KX05yV"><img class="facebook" src="{{asset('uploads/instagram.png')}}" alt="Instagram - Atelier Pauline Rousseau"></a>
					</li>
					<li>
						<a href="https://etsy.me/3FUa86W"><img class="instagram" src="{{asset('uploads/etsy.png')}}" alt="Etsy - Atlier Pauline Rousseau"></a>
					</li>
					<li>
						<a href="#"><img class="logofooter" src="{{asset('uploads/logo.png')}}"></img>
					</li>
				</a>
			</li>
		</ul>

		<ul class="mentions">
			<li>
				<a href="#">Politique de confidentialité</a>
			</li>
			<li>
				<a href="{{path('mentionLegale')}}">Mentions légales</a>
			</li>
			<li>
				<a class="footer__copy">&#169; atelier Pauline Rousseau</a>
			</li>
		</ul>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	</body>
</html></div></footer></body></html>
